#container {
    display:flex;
    border: 5px solid black;
    flex-wrap: wrap;
    width: 800px;
    background-color: white;

    
}

body {
    display: flex;
    justify-content:space-around;
    background-color: gray;
}






