#container {
    display:flex;
    border: 5px solid black;
    flex-wrap: wrap;
    width: 800px;
    background-color: white;

    
}

body {
    display: flex;
    justify-content:space-around;
    background-color: gray;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

#grid-size {
    display: block;
    margin: 20px;
    padding: 5px 10px;
}

button {
    margin-left: 15px;
}



